@use "../abstracts" as *;

.small-link {
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 12px;
  padding-bottom: 5px;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;

  &::after {
    width: 54px;
    height: 1px;
    background: currentColor;
    content: "";
    opacity: 0.8;
    transition: width 220ms ease;
  }

  &:hover::after {
    width: 76px;
  }

  @include respond(mobile) {
    font-size: 10px;

    &::after {
      width: 32px;
    }
  }
}

.text-link {
  display: inline-flex;
  align-items: center;
  gap: 14px;
  min-width: 300px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 700;

  span:last-child {
    position: relative;
    display: block;
    flex: 1;
    height: 1px;
    background: currentColor;

    &::after {
      position: absolute;
      top: -4px;
      right: 0;
      width: 9px;
      height: 9px;
      border-top: 1px solid currentColor;
      border-right: 1px solid currentColor;
      content: "";
      transform: rotate(45deg);
    }
  }

  &--light {
    color: $paper;
  }
}
